body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	max-width: 430px;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 240px 240px 240px;
	border-radius: 10px;
}

.img {
	width: 93px;
}

.item {
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	transition: background .2s linear;
}

.btn:hover {
	background: lightgreen;
}

.usercard {
	text-align: left;
}
.button-container{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.counter{
	display: flex;
	align-items: center;
	gap: 10px;
}
.count{
	font-size: 18px;
	color: var(--tg-theme-text-color);
}
.inner2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 240px 240px 240px;
	border-radius: 10px;
}
.count1{
	width: 50px;
}
.name{
	width: 190px;
	height: 220px;
	border-radius: 10px;
}
.main{
	width: 190px;
	height: 200px;
	border-radius: 10px;
}
.main2{
	width: 190px;
	height: 220px;
	border-radius: 10px;
}
.main3{
	width: 190px;
	height: 220px;
	border-radius: 10px;
}
.main4{
	width: 190px;
	height: 220px;
	border-radius: 10px;
}
.main5{
	width: 190px;
	height: 220px;
	border-radius: 10px;
}
.main6{
	width: 190px;
	height: 220px;
	border-radius: 10px;
}
.main7{
	width: 190px;
	height: 220px;
	border-radius: 10px;
}
.inner3 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 240px 240px 240px;
	border-radius: 10px;
}